* {
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}
.container {
  width: 50%;
  min-height: 250px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 50px;
  padding: 15px;
  border-radius: 10px;
}