* {
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}
.container {
  width: 50%;
  min-height: 90vh;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}
.navItems {
  width: 50%;
  min-height: 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 5px; 
  display: flex;
  padding: 0;
  line-height: 50px;
}
.listItem {
  flex: 1;
  text-decoration: none;  
  display: inline;
  text-align: center;
  background-color: #ddd;
  border-radius: 10px;
}
.catItem {
  width: 100%;
  height: 100px;
  background-color: rgb(248, 248, 248);
  border: 1px solid #000;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
}
.catItem:hover {
  background-color: #ddd;
}
.addForm {
  width: 100%;
}
.addForm>table {
  width: 100%;
}
.addForm>table>tbody>tr>td {
  width: 35%;
  font-size: 30px; 
  line-height: 60px; 
}
.addForm>input {
  font-size: 20px;
  line-height: 50px;
  width: 100%;
  margin: 0 auto;
}
.addForm>table>tbody>tr>td>textarea {
  width:85%;
  height: 100px;
  resize: none;
}
.addForm>table>tbody>tr>td>input,
.addForm>table>tbody>tr>td>select
{
  font-size: 30px;
}
.categoryDiv {
  width:100%;
  background-color: #fff;
  border: 1px solid #000;
  height: 15vh;
  padding: 15px;
  margin: 5px;
  line-height: 20px;
  border-radius: 10px;
}
.categoryDiv:hover {
  background-color: #ddd;
}
.leftDiv {
  float: left;
  width: 60%;
  height: 10vh;
  border-right: 1px solid rgb(131, 129, 129);
}
.rightDiv {
  float: right;
  width: 39%;
  height: 10vh;
  border-left: 1px solid rgb(131, 129, 129);
}
.rightDiv>table {
  width: 100%;
}
.rightDiv>table>tbody>tr>td {
  width: 30%;
  text-align: center;
}
.editTexterea {
  min-width: 30vw;
  height: 20vh;
  resize: none;
}


@media only screen and (max-width: 867px) {
  .container {
    width: 100%;
    min-height: 100vh;
    border: none;
    margin-top: 0px;
    border-radius: 0;
  }
}
